<!-- <h1>App Page -Parent Component</h1>
<a routerLink="user">User</a>
<br>
<a routerLink="admin">Admin</a>
<br>
<a routerLink="about">About</a>
<br>
<a routerLink="contact">Contact</a>
<router-outlet></router-outlet> -->

<!-- <h1>Custom Directive in Angular</h1>
<h1>Normal Heading</h1>
<h1 appCustomstyle>Directive Heading</h1>
<h2>{{name}}</h2>
<h2>{{age}}</h2>
<h2>{{id}}</h2> -->

<h2>Show the API Fetched data in the Tabular Form</h2>

<!-- <table border="1">
  <tr>
    <td>ID</td>
    <td>Title</td>
    <td>Completed</td>
  </tr>
  <tr *ngFor="let item of data">
    <td>{{ item.id }}</td>
    <td>{{ item.title }}</td>
    <td>{{ item.completed }}</td>
  </tr>
</table> -->

<!-- <app-login></app-login>
<app-signup></app-signup> -->
<!-- <li>
  <a routerLink="login">LOGIN</a>
  <br>
  <a routerLink="signup">SIGNUP</a>

  <a></a>

</li> -->
<h1>Routing Modules in Angular</h1>
<ul>
  <a routerLink="login">Login</a>
  <br />
  <a routerLink="list">List</a>
</ul>

<router-outlet></router-outlet>
