a {
  text-decoration: none;
}

header a:hover {
  color: rgb(159, 231, 207);
}

header {
  padding-top: 10px;
  padding: 5px 10px 5px 10px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

ul li {
  list-style: none;
}

nav {
  width: 18vw;
  padding-top: 10px;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
